body {
  text-align: center;
}

button {
  padding: 15px;
  background-color: red;
  color: white;
  border-radius: 8px;
  border: none;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
  background-color: darkred;
}

#heading {
  color: red;
}

#pokemon-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pokemon-card {
  width: 250px;
  background-color: lightsteelblue;
  border: 8px solid steelblue;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin: 20px;
}
