.Deck {
	text-align: center;
}

.draw-btn,
.fetch-btn {
	padding: 15px;
	color: white;
	background-color: black;
	border-radius: 8px;
	border: none;
	margin: 0 10px;
}

.draw-btn:hover,
.fetch-btn:hover {
	cursor: pointer;
	background-color: darkslategray;
}

.fetch-btn:disabled {
	background-color: gray;
	cursor: not-allowed;
}

.card-container {
	margin-top: 100px;
}
