/* Your Styles Here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2e374d;
}

h1 {
  text-align: center;
  color: #e4e4e4;
  padding: 10px;
}

.submit-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#input-form {
  display: flex;
  gap: 10px;
}

#search-textfield {
  padding: 4px;
  border-radius: 8px;
  font-size: 14px;
}

button {
  border-radius: 8px;
  font-size: 14px;
}

#results-display {
  text-align: center;
  color: #e4e4e4;
}

#results-display img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}
